# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
len(chipo)

4622

In [5]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [10]:
chipo_by_item = chipo.groupby('item_name').quantity.sum().reset_index()
chipo_by_item.head()

               item_name  quantity
0      6 Pack Soft Drink        55
1          Barbacoa Bowl        66
2       Barbacoa Burrito        91
3  Barbacoa Crispy Tacos        12
4    Barbacoa Salad Bowl        10

In [11]:
#solution
chipo_by_item[chipo_by_item.quantity == chipo_by_item.quantity.max()]

       item_name  quantity
17  Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
chipo_by_item[chipo_by_item.quantity == chipo_by_item.quantity.max()].quantity

17    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
chipo_by_choice_desc = chipo.groupby('choice_description').quantity.sum().reset_index()
chipo_by_choice_desc

                                     choice_description  quantity
0     [Adobo-Marinated and Grilled Chicken, Pinto Be...         1
1     [Adobo-Marinated and Grilled Chicken, [Sour Cr...         1
2                 [Adobo-Marinated and Grilled Chicken]         1
3     [Adobo-Marinated and Grilled Steak, [Sour Crea...         1
4                   [Adobo-Marinated and Grilled Steak]         1
...                                                 ...       ...
1038  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...         2
1039  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...         1
1040  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...         1
1041  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...         1
1042  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...         1

[1043 rows x 2 columns]

In [14]:
#solution
chipo_by_choice_desc[chipo_by_choice_desc.quantity == chipo_by_choice_desc.quantity.max()]

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [15]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [16]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [17]:
change_price_format = lambda price: float(price[1:])
chipo['item_price'] = chipo.item_price.apply(change_price_format)

In [18]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.c. Check the item price type

In [27]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo['revenue_per_order'] = chipo.item_price * chipo.quantity
total_revenue = chipo.revenue_per_order.sum()
total_revenue

39237.02

### Step 15. How many orders were made in the period?

In [21]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [22]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue_per_order
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [23]:
chipo_by_order = chipo.groupby('order_id').revenue_per_order.sum().reset_index()
chipo_by_order

      order_id  revenue_per_order
0            1              11.56
1            2              33.96
2            3              12.67
3            4              21.00
4            5              13.70
...        ...                ...
1829      1830              23.00
1830      1831              12.90
1831      1832              13.20
1832      1833              23.50
1833      1834              28.75

[1834 rows x 2 columns]

In [24]:
# Solution 1
chipo_by_order.revenue_per_order.mean()

21.39423118865867

In [29]:
# Solution 2

8.48918649935093

### Step 17. How many different items are sold?

In [26]:
chipo.item_name.nunique()

50