# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [4]:
price_to_float = lambda price: float(price[1:])
chipo['item_price'] = chipo.item_price.apply(price_to_float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [5]:
chipo.item_price.dtypes

dtype('float64')

### Step 4. How many products cost more than $10.00?

In [6]:
chipo_by_item = chipo.groupby('item_name').item_price.mean().reset_index()
chipo_by_item.head()

               item_name  item_price
0      6 Pack Soft Drink    6.610185
1          Barbacoa Bowl   10.187273
2       Barbacoa Burrito    9.832418
3  Barbacoa Crispy Tacos   10.928182
4    Barbacoa Salad Bowl   10.640000

In [7]:
# solution 1 using the average of prices
chipo_by_item[chipo_by_item.item_price > 10.00].item_name.count()

20

In [14]:
# solution 2 dropping duplicates of item_name and quantity AND only choosing the orders with quantity == 1
chipo_2 = chipo.drop_duplicates(subset=['item_name', 'quantity'])
chipo_2 = chipo_2[chipo_2.quantity == 1].reset_index(drop=True)
chipo_2.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98

In [15]:
chipo_2[chipo_2.item_price > 10].item_name.count()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
name_price = chipo_2[['item_name', 'item_price']].sort_values(by='item_price', ascending=False)
name_price.head(10)

                item_name  item_price
39       Steak Salad Bowl       11.89
45    Barbacoa Salad Bowl       11.89
44    Carnitas Salad Bowl       11.89
6           Steak Burrito       11.75
27  Barbacoa Crispy Tacos       11.75
18          Barbacoa Bowl       11.75
43      Veggie Soft Tacos       11.25
28      Veggie Salad Bowl       11.25
24            Veggie Bowl       11.25
23         Veggie Burrito       11.25

### Step 6. Sort by the name of the item

In [18]:
name_price = name_price.sort_values(by='item_name')
name_price.head(10)

                item_name  item_price
34      6 Pack Soft Drink        6.49
18          Barbacoa Bowl       11.75
12       Barbacoa Burrito        8.99
27  Barbacoa Crispy Tacos       11.75
45    Barbacoa Salad Bowl       11.89
22    Barbacoa Soft Tacos        9.25
16          Bottled Water        1.09
41                   Bowl        7.40
36                Burrito        7.40
14            Canned Soda        1.09

### Step 7. What was the quantity of the most expensive item ordered?

In [23]:
most_expensive_items = chipo[chipo.item_price == chipo.item_price.max()]
most_expensive_items

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [24]:
most_expensive_items.quantity

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [27]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].item_name.count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [30]:
canned_soda_orders = chipo[chipo.item_name == 'Canned Soda']
canned_soda_orders[canned_soda_orders.quantity > 1].item_name.count()

20